/* Universal Styling */
* {
	font-family: 'Georgia', 'Times', serif;
	}

/* Head Styling */
.header {
	height: 400px;
	background-position: center center;
	background-color: DarkOrange;
	}

/* Body Styling */
body {
	background: linear-gradient(45deg, Gray 100%, #EAE0D5 100%);
	}

/* Pharagraph Styling */
p {
	font-family: Helvetica, sans-serif;
	text-align: center;
	}

/* h2 Styling */
h2 {
	line-height: 76px;
	margin: 0;
	position: relative;
	text-align: center;
	top: 20%;
	}

/* a/link's Styling */
a {
	color: DarkOrange;
	text-decoration: none;
	}

/* image Styling */
img {
	border-radius: 100%;
	}